@media only screen and (max-width: 1023px)  {

#topstrip  {
		min-height: 107px !important;
}


}

@media handheld,  only screen and (max-width: 767px)  {
#topstrip  {
		min-height: 150px !important;
}

#topstrip {
	min-height: 105px;
	overflow: auto;	
}

.wptag a  {
	color:#454a4c !important;
	text-decoration: none;
	padding: 0 !important;
	line-height: 200% !important;
}
form#sbc-search select#cat {
	background: #fbfbfb; 
	min-height: 30px;
	width: 30% !important; 
	border: 1px solid #bbbbbb; 
	padding: 0 !important; 
	margin: 0 ;	
	font-size: 100%;
	vertical-align: top;
}
#masthead #searchform #s {
	vertical-align: top;
}

.maildocument  {
	background: url('images/email.gif') no-repeat;
	padding: 2px 0 4px 20px;
	white-space: nowrap;
	display: inline-block;
	line-height:1.3em; margin:0 0 0.3em; vertical-align:middle; position:relative; top:0.15em;
}


.pdfdocument  {
	background: url('images/pdf.gif') no-repeat;
	padding: 2px 0 4px 20px;
	white-space: nowrap;
	display: inline-block;
	line-height:1.3em; margin:0 0 0.3em; vertical-align:middle; position:relative; top:0.15em;
}


.xlsdocument  {
	background: url('images/xls.gif') no-repeat;
	padding: 2px 0 4px 20px;
	white-space: nowrap;
	display: inline-block;
	line-height:1.3em; margin:0 0 0.3em; vertical-align:middle; position:relative; top:0.15em;
}

.docdocument  {
	background: url('images/doc.gif') no-repeat;
	padding: 2px 0 4px 20px;
	white-space: nowrap;
	display: inline-block;
	line-height:1.3em; margin:0 0 0.3em; vertical-align:middle; position:relative; top:0.15em;
}

.pptdocument  {
	background: url('images/icon-ppt.gif') no-repeat;
	padding: 2px 0 4px 20px;
	white-space: nowrap;
	display: inline-block;
	line-height:1.3em; margin:0 0 0.3em; vertical-align:middle; position:relative; top:0.15em;
}


}
