.calbox .cal-dow {
	background: #0b2d49;
	color: white;
}
.calbox { 
	width: 5em; 
	border: 3px solid #0b2d49;
	text-align: center;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
	
}
.calbox .caldate {
	font-size: 2.6em;
	padding: 12px;
	font-weight: 800;
}
.calbox .calmonth {
	color: #0b2d49;
	text-transform: uppercase;
	font-weight: 800;
}
a.calendarlink:hover { text-decoration: none; }
a.calendarlink:hover .calbox .caldate { background: #eee; }
a.calendarlink:hover .calbox .calmonth { background: #eee; }